# Игнорировать все файлы с расширением .out
*.out

# Игнорировать объектные файлы (C)
*.o

# Игнорировать исполняемые файлы
*.ppu
*.o
*.exe

# Игнорировать временные файлы и директории
*.tmp
*.bak
*.swp
*.swo
*.~*
*.DS_Store
*.idea
*.vscode

# Игнорировать директории
/build/
/bin/
/obj/
/.cache/
